<div class="pure-g-r wrap">
    <div class="pure-u-1-2">
        <div class="panel pure-hidden-phone">
            <div class="page-header text-center">
                <span class="hot">欢迎使用个人客户信息系统</span>
            </div>
            <div class="inner text-center">
                <img src="/static/img/hbc.png" alt="angularjs">
                <div class="text-show">超动感平台助力个人客户信息管理！</div>
                <div class="text-show text-hot">联系电话 <strong>0717 - 6386515</strong></div>
                <div class="text-show">
                    <a href="https://github.com/angular/angular.js" class="pure-button pure-button-small" target="_blank"><i class="fa fa-github fa-2x"></i>GitHub</a>
                    <a href="http://weibo.com/angularjs/" class="pure-button pure-button-small" target="_blank"><i class="fa fa-weibo fa-2x"></i>WeiBo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2 wrap">
        <div class="panel transparent">
            <div class="page-header inner">
                <strong class="dw">用户登录</strong>
            </div>
            <form class="pure-form pure-form-aligned inner" novalidate>
                <div class="pure-control-group">
                    <label class="dw">登录名：</label>
                    <input type="text" placeholder="Uid" name="登录名" ng-model="login.logname" gen-tooltip="validateTooltip" required/>
                </div>
                <div class="pure-control-group">
                    <label class="dw">密码：</label>
                    <input type="password" placeholder="password" name="密码" ng-model="login.logpwd" ng-minlength="6" ng-maxlength="20" gen-tooltip="validateTooltip" required/>
                </div>
                <div class="pure-controls">
                    <label for="auto-login" class="pure-checkbox">
                        <input id="auto-login" type="checkbox" ng-model="login.logauto" >3天内自动登录
                    </label>
                    <button class="pure-button primary-bg" ng-click="submit()">登录</button>
                    <a class="pure-button warning-bg" ng-show="reset.title" ng-href="{{'/reset?type='+reset.type}}">{{reset.title}}</a>
                </div>

            </form>
        </div>
    </div>
</div>